<launch>
    <include file="$(find rm_control)/launch/rm_control.launch">
    </include>
    <include file="$(find rm_bringup)/launch/rm_robot.launch">
    </include>
	<node pkg="arm_control" name="rm_contrarm_control" type="arm_control" output="screen"> <!--launch-prefix="xterm−e"-->
	</node>

</launch>