<launch>
<!-- RM-65 Driver -->
  <node name="rm_driver1" pkg="rm_driver1" type="rm_driver1" respawn="false" output="screen">
  </node>
  <node name="rm_driver2" pkg="rm_driver2" type="rm_driver2" respawn="false" output="screen">
  </node>


<!-- Moveit -->
  <include file="$(find rm_65_moveit_config)/launch/demo_realrobot.launch">
  </include>
</launch>
